
 body {

 	text-align: center;
 	background-color: #a9d179;
 	font-family: helvetica;

 }

 h1 {
    text-align: left;
 	color: white;
 }

 input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: green;
      color: white;
  }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
   }

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ccff66;
}


  #social-buttons button {

	color: white;
	margin: 40px 0px 10px 0px;

	}

.btn-twitter {

	background-color: #00acee;

	border-color: #009ad5;

}

.btn-facebook {

	background-color: #4868ac;

	border-color: #314776;

}

.btn-pinterest {

	background-color: #b62f26;

	border-color: #b62f26;

}

.footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  
}