
 body {

 	text-align: center;
 	background-color: #a9d179;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/68/c4/17/68c41730ab3c0fed5e47f87769fecefb.jpg");

  font-family: helvetica;
  padding-top: 70px;

 }

 h1 {
  font-size: 50px;
  text-align: center;
 	color: white;
  font-family: 'Rock Salt', cursive;
  padding-bottom: 30px;

 }

 h2 {
    font-size: 20px;
    line-height: 30px;

 }

 article {
      color: #d9d9d9;
      max-width: 1000px;
      padding: 20px;
      margin: 0 auto;
      background-color: rgba(0,0,0,0.55);
      border-radius: 15px;
}

.object data{
  background: white;
}

.rate {
  margin-top: 20px;
  color: white;
  font-size: 35px;
  padding-bottom: 0px;
}

 img {
  border-radius: 50px;
  margin: 10px 0px 40px 0px;
  border: 7px solid black;
 }

 input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: #003311;
      color: white;
  }

  p {
    color: white;
  }

  h3{
    color: white;
  }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e6e6e6;
    text-decoration: none;
    color: black;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; 
}


.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  color: yellow;
  font-size:50px;
  margin: 25px 0px 0px 0px;
}

  #social-buttons button {

	color: white;
	margin: 40px 0px 10px 0px;

	}

.btn-twitter {

	background-color: #00acee;

	border-color: #009ad5;

}

.btn-facebook {

	background-color: #4868ac;

	border-color: #314776;

}

.btn-pinterest {

	background-color: #b62f26;

	border-color: #b62f26;

}

.footer1 {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10rem;
  color: white;
}

.footer2 {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0rem;
  
}
